
#all {
  display: inline-block;
}

#mg {
  float: left;
  display: grid;
}

#bb {
  float: right;
}

.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  margin-left: 60px;
}


.baloon {
  vertical-align: top;
}

.speach {
  position: absolute;
  font-size: 25px;
  margin-top: 60px;
  margin-left:20px;
}

.bowser {
  width: 400px;
}
